*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
main,
footer{
    max-width: 1400px;
    margin: 0 auto;

}
.tilesSection{
    padding: 80px 100px 116px;
}
.heading{
    font-family: 'Raleway', sans-serif;
    position: relative;
    text-align:center;
    font-size: 36px;
    font-weight: 400;
}
.light{
    color: #ffffff;
}
.heading::after{
    content: ' ';
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    bottom: -34px;
    left: 50%;
    width: 64px;
    height: 2px;
}
.heading.dark::after{
    background-color: #E72424;
}
.heading.light::after{
    background-color: #ffffff;
}
.headingDescription{
    text-align: center;
    margin-top: 70px;
}
.dark + .headingDescription{
    color: #86878B;
}
.light + .headingDescription{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 16px;
}
.tileWrapper{
    display: flex;
    justify-content:space-between;
    margin: 0 43px;
}
.tile{
    width: 350px;
}
.tileImg{
    width: 70px;
    height: 70px;
    margin: 67px auto 0;
    border: 1px solid #E72424;
    border-radius: 50%;
    position: relative;
}
.tileImg img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.tileHeading{
    margin: 30px auto 0;
    font-size: 20px;  
    font-weight: 700; 
    text-align: center; 
}
.tileDescription{
    margin: 16px auto 0;
    text-align: center;
}
.downloadSection{
    padding: 76px 0 36px;
    width: 100%;
    background-image: url("assets/dawnloadSectionBackground.svg");
    position: relative;
    z-index: 0;
}
.downloadSection::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65); 
    z-index: -1;
}
.downloadSection * {
    z-index: 1;
}
.btnWrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.downloadBtn{
    border: 1px solid #ffffff;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 135px;
    height: 42px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}
footer{

    background-color: #000000;
    padding: 30px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright{
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    padding-top: 18px;
}
