html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;    
}
section{
    width: 1400px;
    margin: 0 auto;
}
.heading{
    text-align:center;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-size:36px;
    color: #212121;
    font-weight: 400;
}
.line{
    width: 64px;
    margin: 25px auto 0;
    border-top: 2px solid #E72424;
}
.h_description{
    text-align: center;
    color: #86878B;
    margin-top: 30px;
}
.tile-wrapper{
    margin: 67px auto 0;
    width: 80%;
    font-size: 0;
}
.tile{
    width: calc(100%/3);    
    display: inline-block;
}
.tile_img{
    margin:0 auto;
    height: 70px;
    width: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    position: relative;
}
.tile_img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.tile_heading{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
}
.tile_description{
    text-align: center;
    margin-top: 16px;
    padding: 0 16px 0;
    font-size: 14px;
    font-weight: 400;
}
